@model IndieProjects.Model.User

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<!--Модальное окно с изображением-->
<div class="modal fade" tabindex="-1" role="dialog" id="ModalContentWithImage" aria-labelledby="gridModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="imagecont">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridModalLabel">Загрузка новой фотографии</h4>
            </div>
            <div class="modal-body" id="divWithImg">
                <img id="target" class="center-block" src="" alt="" /><br />
                <input type="submit" id="clack" value="Загрузить" />
            </div>
        </div>
    </div>
</div>

<!--Предварительное окно загрузки изображения-->
<div id="gridSystemModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header center-block">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridModalLabel">Загрузка новой фотографии</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid bd-example-row center-block">
                    <div>
                        Вы можете загрузить фотографию форматов .JPG, .PNG, .JPEG
                    </div>
                    <input type="file" id="imgInput" title="Tag" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tabsblock">
        <div class="col-lg-3 col-md-4">
            <div class="text-center card-box">
                <div class="member-card">
                    <div class="thumb-xl member-thumb m-b-10 center-block">
                      <img src="~/@Model.Avatar" class="img-circle img-thumbnail" alt="profile-image">
                        <a class="btn btn-primary" data-toggle="modal" data-target="#gridSystemModal">изменить</a>
                    </div>

                    <div class="">
                        <h4 class="m-b-5">@User.Identity.Name</h4>
                        <p class="text-muted"></p>
                    </div>

                    <button type="button" class="btn btn-success btn-sm w-sm waves-effect m-t-10 waves-light">Чаты</button>
                    <button id="MsgButton" type="button" class="btn btn-danger btn-sm w-sm waves-effect m-t-10 waves-light">Сообщения</button>

                    <div class="text-left m-t-40">
                        @if (Model.FIO != null)
                        {
                            <p class="text-muted font-13"><strong>Имя :</strong> <span class="m-l-15">@Model.FIO</span></p>
                        }
                        @if (Model.PhoneNumber != null)
                        {
                            <p class="text-muted font-13"><strong>Телефон :</strong><span class="m-l-15">@Model.PhoneNumber</span></p>
                        }
                        <p class="text-muted font-13"><strong>Email :</strong> <span class="m-l-15">@Model.Email</span></p>
                        @if (Model.City != null)
                        {
                            <p class="text-muted font-13"><strong>Город :</strong> <span class="m-l-15">@Model.City</span></p>
                        }
                        @if (Model.Country != null)
                        {
                            <p class="text-muted font-13"><strong>Страна :</strong> <span class="m-l-15">@Model.Country</span></p>
                        }
                    </div>

                    <ul class="social-links list-inline m-t-30">
                        <li>
                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a>
                        </li>
                    </ul>
                </div>
            </div> <!-- end card-box -->
        </div> <!-- end col -->


        <div class="col-md-8 col-lg-9">
            <div class="wrapper wrapper-content animated fadeInRight" id="MessageContent">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox chat-view">
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-md-9 ">
                                        @foreach(var i in Model.Messages)
                                        {
                                            <div class="chat-discussion">
                                                <div class="chat-message left">
                                                    <img class="message-avatar" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                                                    <div class="message">
                                                        <a class="message-author" href="#"> Michael Smith </a>
                                                        <span class="message-date"> Mon Jan 26 2015 - 18:39:23 </span>
                                                        <span class="message-content">
                                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="chat-message right">
                                                    <img class="message-avatar img-circle" src="http://bootdey.com/img/Content/avatar/avatar6.png" alt="">
                                                    <div class="message">
                                                        <a class="message-author" href="#"> Karl Jordan </a>
                                                        <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                                                        <span class="message-content">
                                                            Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover.
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="chat-message-form">
                                                    <div class="form-group">
                                                        <form method="post" asp-controller="Account" asp-action="SendMessage">
                                                            <input id="CurrentGetter" type="hidden" value=""/>
                                                            <textarea class="form-control message-input" name="message" placeholder="Введите сообщение"></textarea>
                                                            <button id="SendMessag">Отправить</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="chat-users">
                                            <div class="users-list">
                                                <div class="chat-user">
                                                    <img class="chat-avatar" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                                                    <div class="chat-user-name">
                                                        <a href="#">Karl Jordan</a>
                                                    </div>
                                                </div>
                                                <div class="chat-user">
                                                    <img class="chat-avatar" src="http://bootdey.com/img/Content/avatar/avatar2.png" alt="">
                                                    <div class="chat-user-name">
                                                        <a href="#">Monica Smith</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="" id="MainPersonContent">
                <div class="">
                    <ul class="nav nav-tabs navtab-custom">
                        <li class="active">
                            <a href="#home" data-toggle="tab" aria-expanded="false">
                                <span class="visible-xs"><i class="fa fa-user"></i></span>
                                <span class="hidden-xs">ОБО МНЕ</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#activity" data-toggle="tab" aria-expanded="false">
                                <span class="visible-xs"><i class="fa fa-bell"></i></span>
                                <span class="hidden-xs">АКТИВНОСТЬ</span>
                            </a>
                        </li>
                        <li class="">
                            <a id="projects" href="#projectsBlock" data-toggle="tab" aria-expanded="false">
                                <span class="visible-xs"><i class="fa fa-desktop"></i></span>
                                <span class="hidden-xs">ПРОЕКТЫ</span>
                            </a>
                        </li>
                        <li class="">
                            <a id="articles" href="#articlesBlock" data-toggle="tab" aria-expanded="false">
                                <span class="visible-xs"><i class="fa fa-edit"></i></span>
                                <span class="hidden-xs">СТАТЬИ</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#settings" data-toggle="tab" aria-expanded="false">
                                <span class="visible-xs"><i class="fa fa-cog"></i></span>
                                <span class="hidden-xs">НАСТРОЙКИ</span>
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="home">
                            @Html.Partial("_About")
                        </div>

                        <div class="tab-pane active" id="projectsBlock">
                        </div>

                        <div class="tab-pane active" id="articlesBlock">
                        </div>

                        <div class="tab-pane" id="profile">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="gal-detail thumb">
                                        <a href="#" class="image-popup" title="Screenshot-2">
                                            <img src="http://lorempixel.com/400/300/nature/1" class="thumb-img" alt="work-thumbnail">
                                        </a>
                                        <h4 class="text-center">Gallary Image</h4>
                                        <div class="ga-border"></div>
                                        <p class="text-muted text-center"><small>Photography</small></p>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="gal-detail thumb">
                                        <a href="#" class="image-popup" title="Screenshot-2">
                                            <img src="http://lorempixel.com/400/300/nature/2" class="thumb-img" alt="work-thumbnail">
                                        </a>
                                        <h4 class="text-center">Gallary Image</h4>
                                        <div class="ga-border"></div>
                                        <p class="text-muted text-center"><small>Photography</small></p>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="gal-detail thumb">
                                        <a href="#" class="image-popup" title="Screenshot-2">
                                            <img src="http://lorempixel.com/400/300/nature/3" class="thumb-img" alt="work-thumbnail">
                                        </a>
                                        <h4 class="text-center">Gallary Image</h4>
                                        <div class="ga-border"></div>
                                        <p class="text-muted text-center"><small>Photography</small></p>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="gal-detail thumb">
                                        <a href="#" class="image-popup" title="Screenshot-2">
                                            <img src="http://lorempixel.com/400/300/nature/4" class="thumb-img" alt="work-thumbnail">
                                        </a>
                                        <h4 class="text-center">Gallary Image</h4>
                                        <div class="ga-border"></div>
                                        <p class="text-muted text-center"><small>Photography</small></p>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="gal-detail thumb">
                                        <a href="#" class="image-popup" title="Screenshot-2">
                                            <img src="http://lorempixel.com/400/300/nature/5" class="thumb-img" alt="work-thumbnail">
                                        </a>
                                        <h4 class="text-center">Gallary Image</h4>
                                        <div class="ga-border"></div>
                                        <p class="text-muted text-center"><small>Photography</small></p>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="gal-detail thumb">
                                        <a href="#" class="image-popup" title="Screenshot-2">
                                            <img src="http://lorempixel.com/400/300/nature/6" class="thumb-img" alt="work-thumbnail">
                                        </a>
                                        <h4 class="text-center">Gallary Image</h4>
                                        <div class="ga-border"></div>
                                        <p class="text-muted text-center"><small>Photography</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="settings">
                            @Html.Partial("ProfileChanges");
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end col -->
    </div>
<!-- end row -->

<script>
    var localvariable;
    var send;
    var imgarea;

    $('#clack').click(function () {
        $.ajax({
            url: '/Account/AddAvatar/',
            data: JSON.stringify(send),
            contentType: 'application/json',
            type: 'POST',
            success: function (result) {
                alert('Ваша фотография успешно обновлена');
                $('#ModalContentWithImage').modal('hide');
            }
        });
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#target').attr('src', e.target.result);
                localvariable = e.target.result;
            };
            reader.readAsDataURL(input.files[0]);
            $('#gridSystemModal').modal('hide');
            $('#imgInput').val("")
            $('#ModalContentWithImage').modal('show');
        }
    }
    
    $('#ModalContentWithImage').on('hide.bs.modal', function (e) {
        imgarea.cancelSelection();
    })

    $("#imgInput").change(function ()
    {
        readURL(this);
    });

    $(document).ready(function () {
        imgarea = $('#target').imgAreaSelect(
            {
                instance: true,
                aspectRatio: '4:4', handles: true,
                onSelectEnd: function(img,selection)
                {
                    send = { Avatar: localvariable, x1: selection.x1, x2: selection.x2, y1: selection.y1, y2: selection.y2, height: $('#target').height(), width: $('#target').width() };
                }
            });
    });
    /*другая часть*/

    $(document).ready(function () {
        $('#MessageContent').hide();
    });
    var IsHidden = true;
    $('#MsgButton').click(
    function HideChat() {
        if (!IsHidden) {
            $('#MessageContent').hide();
            $('#MainPersonContent').show();
            IsHidden = true;
        }
        else {
            $('#MessageContent').show();
            $('#MainPersonContent').hide();
            IsHidden = false;
        }
    });

    $('#projects').click(function () {
        $.ajax({
            url: '/Account/_MyProjects/',
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'html',
            success: function (result) {
                $('#projectsBlock').html(result);
            }
        })
    });

    $('#articles').click(function () {
        $.ajax({
            url: '/Account/_MyArticles/',
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'html',
            success: function (result) {
                $('#articlesBlock').html(result);
            }
        })
    });
</script>