@model IndieProjects.Model.Project

<input type="hidden" name="idProject" value="@Model.ProjectID"/>
<img class="img-rounded img-responsive" src="~/@Model.Avatar"><br />
<label id="Name">@Model.Name</label><br />
<label id="Links"/></label><br />
<label>Описание:</label>@Html.Raw(Model.Description)
    <label>
        <a id="LikeButton" href="#" onclick="return false">
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"/>
        </a>
        <text id="Likes">@Model.Likes.Count</text>
    </label>
<br />
<label>Вакансии: </label>
        @if (Model.Vakancies != null)
        {
            @foreach (var vac in Model.Vakancies)
            {
                <label>vac.Title</label><br />
            }
        }
        <label>Статус - @Model.StatusProject</label><br />
<label>Комментарии</label>

@if (User.Identity.IsAuthenticated)
{
    <form asp-action="AddCommentToProject" method="post">
        <div class="panel">
            <div class="panel-body">
                <input type="hidden" name="id" value="@Model.ProjectID" />
                <textarea name="txt" class="form-control" rows="2" placeholder="Добавьте Ваш комментарий"></textarea>
                <div class="mar-top clearfix">
                    <button class="btn btn-sm btn-primary pull-right" type="submit"><i class="fa fa-pencil fa-fw"></i> Добавить</button>
                </div>
            </div>
        </div>
    </form>
}

<div id="comments">

</div>

<script>
    $('#LikeButton').click(function () {
        $.ajax({
            url: '/Project/LikeProject/' + @Model.ProjectID,
            contentType: 'application/html; charset=utf-8',
            type: 'Post',
            dataType: 'html',
            success: function (result) {
                $('#Likes').html(result);
            }
        })
    });

    $(document).ready(function () {
        $.ajax({
            url: '/Project/Comments/' + $('input[name="idProject"]').val(),
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'html',
            success: function (result) {
                $('#comments').html(result);
            }
        });
    });
</script>