@model IndieProjects.Model.Article

<input type="hidden" name="idArticle" value="@Model.ID" />
<label id="Title">@Model.Title</label><br />
<label>Описание:</label>
<div class="ContentDescription">
    @Html.Raw(Model.Content)
</div>
<label>Понравилось - @Model.Likes людям</label><br />
<label>Комментарии</label>

@if (User.Identity.IsAuthenticated)
{
    <form asp-action="AddCommentToArticle" method="post">
        <div class="panel">
            <div class="panel-body">
                <input type="hidden" name="id" value="@Model.ID" />
                <textarea name="txt" class="form-control" rows="2" placeholder="Добавьте Ваш комментарий"></textarea>
                <div class="mar-top clearfix">
                    <button class="btn btn-sm btn-primary pull-right" type="submit"><i class="fa fa-pencil fa-fw"></i> Добавить</button>
                </div>
            </div>
        </div>
    </form>
}

<div id="comments">

</div>

<script>
    function show() {
        $.ajax({
            url: '/Home/Comments/' + $('input[name="idArticle"]').val(),
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'html',
            success: function (result) {
                $('#comments').html(result);
            }
        });
    }

    $(document).ready(function () {
        show();
        setInterval('show()', 10000);
    });
</script>